<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>The Gadfly Project</title>
        <script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/react.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/JSXTransformer.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <nav>
            <div class="nav-wrapper indigo lighten-1">
                <a href="#" class="brand-logo">The Gadfly Project</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="http://ischool.berkeley.edu">About</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col s12 m4">
                    <img id="socrates" src="{{ url_for('static', filename='images/socr8s.png') }}" alt="socrates"></img>
                </div>
                <div class="col s12 m8">
                    <h1 class="valign">Welcome to The Gadfly Project.</h1>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="card-panel indigo lighten-3">
                        <span class="white-text">Paste a link to an news article below to get started.</span>
                    </div>
                </div>
                <div id="mount-point" class="col s12">
                </div>
            </div>
        </div>
        <script type="text/jsx" src="{{ url_for('static', filename='js/page.js') }}"></script>
        <script type="text/javascript">
            $(document).ready(function(){

            });
        </script>
    </body>
</html>
